@tailwind base;
@tailwind components;
@tailwind utilities;

.MuiTooltip-popper {
  text-transform: capitalize;
}

.MuiInputBase-root,
.MuiSelect-icon {
  color: white;
}

/* border color for filled input */
/* 
.MuiInputBase-root::after {
  border-bottom: 10px solid purple;
} */
