@tailwind base;
@tailwind components;
@tailwind utilities;

.MuiTooltip-popper {
  text-transform: capitalize;
}

.MuiInputBase-root {
  color: white;
}

/* border color for filled input */
/* .css-zs07ro-MuiInputBase-root-MuiFilledInput-root::after {
  border-bottom: 10px solid purple;
} */
